*, *:before, *:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
figure {
	margin: 0;
}

a {
	color: #5EA3D4;
	text-decoration: none;
}

body {
	max-width: 800px;
	margin: 0 auto;

	background-color: #37393A;
	color: #FFFAFF;

	font-family:
		-apple-system,
		BlinkMacSystemFont,
		"Segoe UI",
		Roboto,
		Oxygen-Sans,
		Ubuntu,
		Cantarell,
		"Helvetica Neue",
		system-ui,
		sans-serif;
	font-size: calc(0.13vw + 13pt);

	line-height: 1.4;
}

body > div {
	padding: 2rem 1rem;
	margin: 0 0 0 1rem;
	border-left: 1px dashed #FFFAFF;
}

#intro {
	padding: 2rem calc(1rem + 30px + 10px);
}

#intro > a {
	margin-right: 1rem;
}

#intro > h3 {
	margin-top: 1rem;
}

.project {
	display: grid;
	grid-template: auto / 30px auto;
	gap: 10px;
	align-items: baseline;
	position: relative;
}

.project:before {
	content: '';
	position: absolute;
	top: calc(2em + 2px);
	width: 13px;
	height: 13px;
	border: 2px solid #FFFAFF;
	left: -7px;
	background-color: black;
	border-radius: 50%;
}

.age {
  font-family:
    SFMono-Regular,
    Consolas,
    Liberation Mono,
    Menlo,
		monospace !important;
}

.age,
.name {
	line-height: 20px;
}

.description {
	grid-area: 2 / 2 / 3 / 3;
}

.extra {
	grid-area: 3 / 2 / 4 / 3;
	display: flex;
	flex-wrap: wrap;
}

.images > a {
	height: 90px;
	width: 90px;
	margin: 5px 10px 0 0;
}

.images img {
	object-fit: cover;
	object-position: top;
	height: 90px;
	width: 90px;
}

.images :target {
	position: fixed;
	top: 2%;
	left: 2%;
	height: 96%;
	width: 96%;
	z-index: 1;
	margin: 0;
	outline: none;
}

.images :target img {
	height: 100%;
	width: 100%;
	object-fit: scale-down;
	object-position: center;
}

.images :target:before {
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
	background-color: #000a;
}
