body {	
	margin-left: 5vw;
	margin-right: 5vw;
	margin-top: 5vh;
	margin-bottom: 5vh;

	background-color: black;
	line-height: 1.5;

	color: white;
	font-family: -apple-system, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", system-ui, sans-serif;
}